/*for the door*/
    .door img{
      left: 200px;
      top: 100px;
      margin-right: auto;
      width: 50%;
      scale: 0.5;
    }
    .door img{
      position: absolute;
      width: 300px;
      height: auto;
      transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .door img:hover {
      filter: drop-shadow(0 0 30px rgba(255, 212, 59, 100));
    }

/*FONT*/
    .averia-libre-light {
            font-family: "Averia Libre", system-ui;
            font-weight: 300;
            font-style: normal;
          }

    .averia-libre-regular {
            font-family: "Averia Libre", system-ui;
            font-weight: 400;
            font-style: normal;
          }

    .averia-libre-bold {
            font-family: "Averia Libre", system-ui;
            font-weight: 700;
            font-style: normal;
          }

/*for the cat DIALOGUE*/

#toggleBtn {
    cursor: pointer;
    position: absolute;
    width: 100px;
    top: 550px;
    left: 850px;
}

#toggleBtn:hover {
      filter: drop-shadow(0 0 30px rgba(255, 212, 59, 100));
    }

#bottomRect {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    opacity: 75%;
    display: none;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#bottomRect.show{
    display: block
}

/* for the thing */
#toggleThing {
    cursor: pointer;
    position: absolute;
    width: 100px;
    top: -230px;
    left: 500px;
    scale: 0.07;
}

#toggleThing:hover{
    filter: drop-shadow(0 0 100px rgba(255, 212, 59, 100))
            drop-shadow(0 0 100px rgba(255, 212, 59, 100))
            drop-shadow(0 0 150px rgba(255, 212, 59, 100));
}

#doorThing {
    display: none;
}

.lamp {
    width: 75px;
    position: absolute;
    top: 250px;
    left: 500px;
}


/*Defining things*/
    body {
            background-color: black;
            background-repeat: no-repeat;
            background-size: cover;
			}

		h1 {color:white;
      font-family: "Averia Libre", system-ui;
      font-weight: 700;
      font-style: normal;
      }
    
    h2 {color: black;
      font-family: "Averia Libre", system-ui;
      font-weight: 300;
      font-style: normal;
      text-align: center;
      font-size: 15pt;
    }