    body {
            background-image: url(Room3type.jpeg);
            background-position: center 0px;
            background-repeat: no-repeat;
            background-size: cover;
       }
    h1 {color:white;
      font-family: "Averia Libre", system-ui;
      font-weight: 700;
      font-style: normal;
      }
    
    h2 {color: black;
      font-family: "Averia Libre", system-ui;
      font-weight: 300;
      font-style: normal;
      font-size: 15pt;
      text-align: center;
    }

    h3 {color: white;
      font-family: "Averia Libre", system-ui;
      font-weight: 300;
      font-style: normal;
      font-size: 15pt;
    }

    h4 {color: white;
      font-family: "Averia Libre", system-ui;
      font-weight: 300;
      font-style: normal;
      font-size: 15pt;
    }

.rightBtn{
  position: absolute;

  background-color: none;
  box-shadow: inset 0 0 0 1px white;
  border: none;
  padding: 1px;
  top: 100px;    /* distance from top */
  left: 1100px;   /* distance from left */
  width: 100px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.rightBtn:hover {
  background-color: grey;
}

.leftBtn{
  position: absolute;

  background-color: none;
  box-shadow: inset 0 0 0 1px white;
  border: none;
  padding: 1px;
  top: 100px;    /* distance from top */
  left: 100px;   /* distance from left */
  width: 100px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.leftBtn:hover {
  background-color: grey;
}

/*for the cat DIALOGUE*/

#toggleBtn {
    cursor: pointer;
    position: absolute;
    width: 100px;
    top: 250px;
    left: 300px;
}

#toggleBtn:hover {
      filter: drop-shadow(0 0 30px rgba(255, 212, 59, 100));
    }

#bottomRect {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    opacity: 75%;
    display: none;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#bottomRect.show{
    display: block
}