    body {
      background-image: url('bench-scene.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 841px;
        width: auto;
      }
		h1 {color:white;
      font-family: "Averia Libre", system-ui;
      font-weight: 700;
      font-style: normal;
      }
    
    h2 {color: white;
      font-family: "Averia Libre", system-ui;
      font-weight: 300;
      font-style: normal;
      font-size: 15pt;
      text-align: center;
    }

    h3 {color:white;
      font-family: "Averia Libre", system-ui;
      font-weight: 300;
      font-style: normal;
      font-size: 15pt;
      bottom: 0px;
      margin-left: 1350px;
      position: fixed;
      text-align: right;
      }
    
    
#add-note-btn {
  cursor: pointer;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  padding-right: 5px;
  padding-left: 5px;
  box-shadow: inset 0 0 0 1px white;
}

#add-note-btn:hover {
    background-color: grey;
}

#toggle-notes {
  margin-left: 200px;
  margin-top: 175px;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: inset 0 0 0 1px white;
}

#toggle-notes:hover {
    background-color: grey;
}

.notes-panel {
  position: fixed;
  right: 0;
  top: 0;
  width: 280px;
  height: 100vh;
  background: black;
  padding: 15px;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;

  display: flex;
  flex-direction: column;
}

.notes-panel.open {
  transform: translateX(0);
}

#notes-container {
  flex: 1;
  overflow-y: auto;
  margin-top: 0px;
  padding-right: 5px;
}


.note {
  background: white;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.note textarea {
  width: 100%;
  height: 50px;
  border: none;
  resize: none;
  outline: none;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  align-self: flex-end;
}

.button {
    background-color: transparent;
    border: none;
    border-radius: 30px;
    padding: 15px;
    box-shadow: inset 0 0 0 1px white;
    }

.button:hover {
        background-color: grey;
    }